In [1]:
import pandas as pd
import json
import requests

In [2]:
#Base URL
url ="http://publicplansdata.org/api/"

#Set parameters. Make sure to use QDataset, NOT QDataSet.  Makes a big difference
paramsratios = {
    "q": "QDataset",
    "dataset": "pensiongasbschedules",
     "format": "json",
    #"variables": 
     #"v": variables,
}
paramsbasicplandata = {
    "q": "QDataset",
    "dataset": "pensionplanbasics",
     "format": "json",
    #"variables": 
     #"v": ,
}

In [3]:
#create requests
ratiosresponse = requests.get(url, params = paramsratios)
plandataresponse = requests.get(url,params=paramsbasicplandata)

In [4]:
#create json response object
fundedratiosdata = ratiosresponse.json()
plandata = plandataresponse.json()

In [5]:
#change response object into DataFrame
funded_ratios_full = pd.DataFrame(fundedratiosdata[1:])
plan_data_full = pd.DataFrame(plandata[1:])

In [6]:
funded_ratios_full.columns

Index(['ActAssets_est', 'ActAssets_GASB', 'ActFundedRatio_est',
       'ActFundedRatio_GASB', 'ActFundedRatio_GASB67', 'ActLiabilities_est',
       'ActLiabilities_GASB', 'ActLiabilities_other', 'ADEC', 'EEGroupID',
       'fy', 'NetPensionLiability', 'NetPosition', 'notes_GASBSchedules',
       'payroll', 'PercentReqContPaid', 'ppd_id', 'RequiredContribution',
       'RequiredContribution_est', 'source_GASBSchedules', 'TierID',
       'TotalPensionLiability', 'UAAL_GASB'],
      dtype='object')

In [7]:
#remove rows with empty funded ratio data
funded_ratio_df=funded_ratios_full[['ppd_id','fy','ActFundedRatio_GASB','ActFundedRatio_est','PercentReqContPaid']].dropna()
funded_ratio_df.shape

(3758, 5)

In [8]:
plan_data_full.columns

Index(['AdministeringGovt', 'BenefitsWebsite', 'CostSharing', 'CostStructure',
       'DataEndYear', 'DataStartYear', 'EmployeeTypeCovered', 'EmployerType',
       'FiscalYearType', 'GovtName', 'InPFS', 'notes_PlanBasics', 'PlanClosed',
       'PlanFullName', 'PlanInceptionYear', 'PlanName', 'PlanType',
       'PlanYearClosed', 'ppd_directory_listed', 'ppd_id', 'SocSecCovered',
       'SocSecCovered_verbatim', 'source_PlanBasics', 'StateAbbrev',
       'StateName', 'system_id'],
      dtype='object')

In [9]:
plan_data_df=plan_data_full[['ppd_id','PlanName','StateAbbrev','PlanClosed','PlanYearClosed',]]
plan_data_df.head()

  ppd_id               PlanName StateAbbrev PlanClosed PlanYearClosed
0      1            Alabama ERS          AL          0           None
1      2       Alabama Teachers          AL          0           None
2      3            Alaska PERS          AK          1           2006
3      4        Alaska Teachers          AK          1           2006
4      5  Arizona Public Safety          AZ          0           None

In [10]:
plan_test_data_df=pd.merge(funded_ratio_df,plan_data_df,how="inner",on="ppd_id")
plan_test_data_df['ActFundedRatio_GASB'] = plan_test_data_df['ActFundedRatio_GASB'].astype(float)
plan_test_data_df.shape

(3758, 9)

In [11]:
plan_test_data_df.head(50)

,ppd_id,fy,ActFundedRatio_GASB,ActFundedRatio_est,PercentReqContPaid,PlanName,StateAbbrev,PlanClosed,PlanYearClosed
0,1,2001,1.002,0.000,1.00000,Alabama ERS,AL,0,None
1,1,2002,0.954,0.000,1.00000,Alabama ERS,AL,0,None
2,1,2003,0.911,0.000,1.00000,Alabama ERS,AL,0,None
3,1,2004,0.897,0.000,1.00000,Alabama ERS,AL,0,None
4,1,2005,0.840,0.000,1.00000,Alabama ERS,AL,0,None
5,1,2006,0.811,0.000,1.00000,Alabama ERS,AL,0,None
6,1,2007,0.790,0.000,1.00000,Alabama ERS,AL,0,None
7,1,2008,0.757,0.000,1.00000,Alabama ERS,AL,0,None
8,1,2009,0.722,0.000,1.00000,Alabama ERS,AL,0,None
9,1,2010,0.682,0.000,1.00000,Alabama ERS,AL,0,None
10,1,2011,0.658,0.000,1.00000,Alabama ERS,AL,0,None
11,1,2012,0.657,0.000,1.00000,Alabama ERS,AL,0,None
12,1,2013,0.657,0.000,1.00000,Alabama ERS,AL,0,None
13,1,2014,0.669,0.000,0.00000,Alabama ERS,AL,0,None
14,1,2015,0.673,0.000,1.00000,Alabama ERS,AL,0,None
15,1,2016,0.662,0.000,1.00000,Alabama ERS,AL,0,None
16,1,2017,0.678,0.000,1.00000,Alabama ERS,AL,0,None
17,1,2018,0.687,0.000,1.00000,Alabama ERS,AL,0,None
18,1,2019,0.682,0.000,1.00000,Alabama ERS,AL,0,None
19,1,2020,0.682,0.000,1.00000,Alabama ERS,AL,0,None
20,2,2001,1.014,0.000,1.00000,Alabama Teachers,AL,0,None
21,2,2002,0.974,0.000,1.00000,Alabama Teachers,AL,0,None
22,2,2003,0.936,0.000,1.00000,Alabama Teachers,AL,0,None
23,2,2004,0.896,0.000,1.00000,Alabama Teachers,AL,0,None
24,2,2005,0.836,0.000,1.00000,Alabama Teachers,AL,0,None
25,2,2006,0.828,0.000,1.00000,Alabama Teachers,AL,0,None
26,2,2007,0.795,0.000,1.00000,Alabama Teachers,AL,0,None
27,2,2008,0.776,0.000,1.00000,Alabama Teachers,AL,0,None
28,2,2009,0.747,0.000,1.00000,Alabama Teachers,AL,0,None
29,2,2010,0.711,0.000,1.00000,Alabama Teachers,AL,0,None
30,2,2011,0.675,0.000,1.00000,Alabama Teachers,AL,0,None
31,2,2012,0.665,0.000,1.00000,Alabama Teachers,AL,0,None
32,2,2013,0.662,0.000,1.00000,Alabama Teachers,AL,0,None
33,2,2014,0.675,0.000,1.00000,Alabama Teachers,AL,0,None
34,2,2015,0.683,0.000,1.00000,Alabama Teachers,AL,0,None
35,2,2016,0.683,0.000,1.00000,Alabama Teachers,AL,0,None
36,2,2017,0.689,0.000,1.00000,Alabama Teachers,AL,0,None
37,2,2018,0.702,0.000,1.00000,Alabama Teachers,AL,0,None
38,2,2019,0.694,0.000,1.00000,Alabama Teachers,AL,0,None
39,2,2020,0.694,0.000,1.00000,Alabama Teachers,AL,0,None
40,3,2001,1.009,0.000,1.05300,Alaska PERS,AK,1,2006
41,3,2002,0.752,0.000,1.02900,Alaska PERS,AK,1,2006
42,3,2003,0.728,0.000,1.10300,Alaska PERS,AK,1,2006
43,3,2004,0.702,0.000,1.00000,Alaska PERS,AK,1,2006
44,3,2005,0.657,0.000,0.47300,Alaska PERS,AK,1,2006
45,3,2006,0.782,0.000,0.65400,Alaska PERS,AK,1,2006
46,3,2007,0.778,0.000,0.77300,Alaska PERS,AK,1,2006
47,3,2008,0.788,0.000,1.07400,Alaska PERS,AK,1,2006
48,3,2009,0.630,0.000,1.16100,Alaska PERS,AK,1,2006
49,3,2010,0.624,0.000,0.86000,Alaska PERS,AK,1,2006

In [12]:
#Find all rows that have a funded ratio greater than or equal to 90%
plan_data_20yr=plan_test_data_df[(plan_test_data_df['ActFundedRatio_GASB']>=.9)]
plan_data_20yr

,ppd_id,fy,ActFundedRatio_GASB,ActFundedRatio_est,PercentReqContPaid,PlanName,StateAbbrev,PlanClosed,PlanYearClosed
0,1,2001,1.0020,0.000,1.00000,Alabama ERS,AL,0,None
1,1,2002,0.9540,0.000,1.00000,Alabama ERS,AL,0,None
2,1,2003,0.9110,0.000,1.00000,Alabama ERS,AL,0,None
20,2,2001,1.0140,0.000,1.00000,Alabama Teachers,AL,0,None
21,2,2002,0.9740,0.000,1.00000,Alabama Teachers,AL,0,None
...,...,...,...,...,...,...,...,...,...
3693,201,2006,1.0857,0.000,1.59940,Dallas ERS,TX,0,None
3694,201,2007,1.0920,0.000,2.49420,Dallas ERS,TX,0,None
3695,201,2008,0.9617,0.000,2.10410,Dallas ERS,TX,0,None
3696,201,2009,0.9497,0.000,0.64060,Dallas ERS,TX,0,None
3697,201,2010,0.9224,0.000,0.66480,Dallas ERS,TX,0,None

In [18]:
#count number of years that each plan was above 90% funded.
plan_90plus_counts=plan_data_20yr.groupby("ppd_id")["fy"].count()
plan_90plus_counts

ppd_id
1       3
10      1
101    20
104     6
105     8
       ..
94      2
96     13
97      3
98     10
99      3
Name: fy, Length: 146, dtype: int64

In [19]:
#Top 20 plan year counts
plan_90plus_counts.sort_values(ascending=False).head(20)

ppd_id
101    20
117    20
122    19
125    19
110    19
83     19
178    19
179    19
132    18
84     18
78     18
79     17
119    17
195    17
136    17
120    16
151    16
140    16
128    16
21     15
Name: fy, dtype: int64

In [20]:
pd.set_option(
    'display.max_rows', 100
)

In [21]:
#Pull list of of plan IDs that have 19+ years of 90%+ funding ratios
plan_focus=plan_90plus_counts[plan_90plus_counts>=19]
plan_focus_list=plan_focus.index.values
plan_focus_list

array(['101', '110', '117', '122', '125', '178', '179', '83'],
      dtype=object)

In [32]:
#Manual Plan data check to confirm that each plan covers 2001-2019
plan_data_20yr_check=plan_data_20yr[(plan_data_20yr["ppd_id"]=="132")]
plan_data_20yr_check

,ppd_id,fy,ActFundedRatio_GASB,ActFundedRatio_est,PercentReqContPaid,PlanName,StateAbbrev,PlanClosed,PlanYearClosed
2522,132,2001,0.92290,0.000,1.33725,Louisiana Parochial Employees,LA,0,None
2523,132,2002,0.92500,0.000,1.07290,Louisiana Parochial Employees,LA,0,None
2524,132,2003,0.92800,0.000,0.71190,Louisiana Parochial Employees,LA,0,None
2525,132,2004,0.93500,0.000,0.90040,Louisiana Parochial Employees,LA,0,None
2526,132,2005,0.94300,0.000,1.07110,Louisiana Parochial Employees,LA,0,None
2527,132,2006,0.95000,0.000,0.90450,Louisiana Parochial Employees,LA,0,None
2528,132,2007,0.96900,0.000,1.42150,Louisiana Parochial Employees,LA,0,None
2529,132,2008,0.96000,0.000,1.48500,Louisiana Parochial Employees,LA,0,None
2530,132,2009,0.96900,0.000,0.78390,Louisiana Parochial Employees,LA,0,None
2531,132,2010,0.97200,0.000,1.17100,Louisiana Parochial Employees,LA,0,None
2532,132,2011,0.97600,0.000,1.00590,Louisiana Parochial Employees,LA,0,None
2534,132,2013,0.92502,0.000,1.04750,Louisiana Parochial Employees,LA,0,None
2535,132,2014,0.96851,0.000,1.03274,Louisiana Parochial Employees,LA,0,None
2536,132,2015,0.97207,0.000,1.10461,Louisiana Parochial Employees,LA,0,None
2537,132,2016,0.99288,0.000,1.19790,Louisiana Parochial Employees,LA,0,None
2538,132,2017,0.99615,0.000,1.16102,Louisiana Parochial Employees,LA,0,None
2539,132,2018,0.96266,0.000,1.20160,Louisiana Parochial Employees,LA,0,None
2540,132,2019,0.97568,0.000,1.12982,Louisiana Parochial Employees,LA,0,None

In [37]:
focus_plans_list=["101","110","125","179"]

In [38]:
focus_plans_true=plan_test_data_df.ppd_id.isin(focus_plans_list)

In [39]:
focus_plans_data_df=plan_test_data_df[focus_plans_true]

In [40]:
focus_plans_data_df

,ppd_id,fy,ActFundedRatio_GASB,ActFundedRatio_est,PercentReqContPaid,PlanName,StateAbbrev,PlanClosed,PlanYearClosed
1970,101,2001,0.96400,0.000,1.00000,South Dakota RS,SD,0,None
1971,101,2002,0.96700,0.000,1.00000,South Dakota RS,SD,0,None
1972,101,2003,0.97200,0.000,1.00000,South Dakota RS,SD,0,None
1973,101,2004,0.97700,0.000,1.00000,South Dakota RS,SD,0,None
1974,101,2005,0.96600,0.000,1.00000,South Dakota RS,SD,0,None
1975,101,2006,0.96700,0.000,1.00000,South Dakota RS,SD,0,None
1976,101,2007,0.97100,0.000,1.00000,South Dakota RS,SD,0,None
1977,101,2008,0.97200,0.000,1.00000,South Dakota RS,SD,0,None
1978,101,2009,0.91800,0.000,0.91000,South Dakota RS,SD,0,None
1979,101,2010,0.96300,0.000,1.00000,South Dakota RS,SD,0,None
1980,101,2011,0.96400,0.000,1.00000,South Dakota RS,SD,0,None
1981,101,2012,0.92600,0.000,1.00000,South Dakota RS,SD,0,None
1982,101,2013,1.00000,0.000,1.00000,South Dakota RS,SD,0,None
1983,101,2014,1.00000,0.000,1.21905,South Dakota RS,SD,0,None
1984,101,2015,1.00000,0.000,1.15100,South Dakota RS,SD,0,None
1985,101,2016,1.00000,0.000,1.37878,South Dakota RS,SD,0,None
1986,101,2017,1.00100,0.000,1.00000,South Dakota RS,SD,0,None
1987,101,2018,1.00000,0.000,1.00000,South Dakota RS,SD,0,None
1988,101,2019,1.00100,0.000,1.00000,South Dakota RS,SD,0,None
1989,101,2020,1.00100,0.000,1.00000,South Dakota RS,SD,0,None
2140,110,2001,0.99610,0.000,1.00000,TN State and Teachers,TN,0,None
2141,110,2002,0.99689,1.000,1.00000,TN State and Teachers,TN,0,None
2142,110,2003,0.99760,0.000,1.00000,TN State and Teachers,TN,0,None
2143,110,2004,0.99799,1.000,1.00000,TN State and Teachers,TN,0,None
2144,110,2005,0.99830,0.000,1.00000,TN State and Teachers,TN,0,None
2145,110,2006,0.97908,1.000,1.00000,TN State and Teachers,TN,0,None
2146,110,2007,0.96240,0.000,1.00000,TN State and Teachers,TN,0,None
2147,110,2008,0.93348,1.000,1.00000,TN State and Teachers,TN,0,None
2148,110,2009,0.90640,0.000,1.00000,TN State and Teachers,TN,0,None
2149,110,2010,0.91404,1.000,1.00000,TN State and Teachers,TN,0,None
2150,110,2011,0.92100,0.000,1.00000,TN State and Teachers,TN,0,None
2151,110,2012,0.92725,1.000,1.00000,TN State and Teachers,TN,0,None
2152,110,2013,0.93340,0.000,1.00000,TN State and Teachers,TN,0,None
2153,110,2014,0.94297,1.000,1.00000,TN State and Teachers,TN,0,None
2154,110,2015,0.95203,0.000,1.00000,TN State and Teachers,TN,0,None
2155,110,2016,0.95440,0.000,1.00000,TN State and Teachers,TN,0,None
2156,110,2017,0.93150,0.000,1.00000,TN State and Teachers,TN,0,None
2157,110,2018,0.93410,0.000,1.00000,TN State and Teachers,TN,0,None
2158,110,2019,0.96660,0.000,1.00000,TN State and Teachers,TN,0,None
2378,125,2001,0.96500,0.000,0.99600,Wisconsin RS,WI,0,None
2379,125,2002,0.97100,0.000,0.99800,Wisconsin RS,WI,0,None
2380,125,2003,0.99200,0.000,1.00000,Wisconsin RS,WI,0,None
2381,125,2004,0.99400,0.000,1.00000,Wisconsin RS,WI,0,None
2382,125,2005,0.99500,0.000,1.00000,Wisconsin RS,WI,0,None
2383,125,2006,0.99600,0.000,1.00000,Wisconsin RS,WI,0,None
2384,125,2007,0.99600,0.000,1.00000,Wisconsin RS,WI,0,None
2385,125,2008,0.99700,0.000,1.00000,Wisconsin RS,WI,0,None
2386,125,2009,0.99800,0.000,1.00000,Wisconsin RS,WI,0,None
2387,125,2010,0.99800,0.000,1.08000,Wisconsin RS,WI,0,None
2388,125,2011,0.99900,0.000,1.00000,Wisconsin RS,WI,0,None
2389,125,2012,0.99900,0.000,1.00000,Wisconsin RS,WI,0,None
2390,125,2013,0.99900,0.000,1.00000,Wisconsin RS,WI,0,None
2391,125,2014,1.00000,0.000,1.00000,Wisconsin RS,WI,0,None
2392,125,2015,0.99970,0.000,1.00000,Wisconsin RS,WI,0,None
2393,125,2016,1.00000,0.000,1.00000,Wisconsin RS,WI,0,None
2394,125,2017,1.00000,0.000,1.00000,Wisconsin RS,WI,0,None
2395,125,2018,1.00000,0.000,1.00000,Wisconsin RS,WI,0,None
2396,125,2019,1.00000,0.000,1.00000,Wisconsin RS,WI,0,None
3376,179,2001,1.21200,0.000,1.00000,Wichita ERS,KS,0,None
3377,179,2002,1.17000,0.000,1.00000,Wichita ERS,KS,0,None
3378,179,2003,1.15400,0.000,1.00000,Wichita ERS,KS,0,None
3379,179,2004,1.12100,0.000,1.00000,Wichita ERS,KS,0,None
3380,179,2005,1.10600,0.000,1.00000,Wichita ERS,KS,0,None
3381,179,2006,1.10200,0.000,1.00000,Wichita ERS,KS,0,None
3382,179,2007,1.10500,0.000,1.00000,Wichita ERS,KS,0,None
3383,179,2008,1.00100,0.000,1.00000,Wichita ERS,KS,0,None
3384,179,2009,0.96300,0.000,1.00000,Wichita ERS,KS,0,None
3385,179,2010,0.95500,0.000,1.00000,Wichita ERS,KS,0,None
3386,179,2011,0.92500,0.000,1.00000,Wichita ERS,KS,0,None
3387,179,2012,0.91000,0.000,1.00000,Wichita ERS,KS,0,None
3388,179,2013,0.93100,0.000,1.00000,Wichita ERS,KS,0,None
3389,179,2014,0.94900,0.000,1.00000,Wichita ERS,KS,0,None
3390,179,2015,0.93800,0.000,1.00000,Wichita ERS,KS,0,None
3391,179,2016,0.92900,0.000,1.00000,Wichita ERS,KS,0,None
3392,179,2017,0.94300,0.000,1.00000,Wichita ERS,KS,0,None
3393,179,2018,0.90900,0.000,1.00000,Wichita ERS,KS,0,None
3394,179,2019,0.90800,0.000,1.00000,Wichita ERS,KS,0,None

In [41]:
focus_plans_df.shape

(77, 9)